HOME			        = .
RANDFILE		        = $ENV::HOME/.rnd
oid_section		        = new_oids

[ new_oids ]
# Policies used by the TSA examples.
tsa_policy1             = 1.2.3.4.1
tsa_policy2             = 1.2.3.4.5.6
tsa_policy3             = 1.2.3.4.5.7

####################################################################
[ ca ]
default_ca	            = CA_default		    # The default ca section

####################################################################
[ CA_default ]
dir                     = .                     # Default working directory.
database	            = index.txt	            # Database index file.
certificate	            = $dir/ca.cert.pem 	    # The CA certificate.
private_key             = $dir/ca.priv.pem      # The CA private key.
new_certs_dir           = $dir/newcerts         # Default place for new certs.
serial                  = $dir/serial           # The current serial number.
default_days	        = 365			        # How long to certify for.
default_md              = default               # Use public key default MD.
policy                  = policy_match

[ policy_match ]
countryName		        = match
stateOrProvinceName	    = match
organizationName	    = match
organizationalUnitName	= optional
commonName		        = optional
emailAddress		    = optional
